include mixins/hikecard
include mixins/nav

head
    title=title

    link(rel='stylesheet', href='/assets/css/global.css')
    link(rel='stylesheet' href='/assets/css/reset.css')
    link(rel='stylesheet' href='/assets/css/menu.css')
    link(rel='stylesheet' href='/assets/css/nav.css')
    link(rel='stylesheet' href='/assets/css/hikecard.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/assets/scripts/account.js' type='text/javascript')
body
    +navbar()


div(class="content")
        div(class="card-container")
            br
            br
            br
            br
            div(id="update-card" )

                div(class='section')
                    form(id='updateInfo' name='info')

                        input(id='email' class='user-info' type='email' placeholder='Email' name='email' value=email disabled, required)

                        input(id='password' class='user-info' type='password' placeholder='Password' value=password name='password')

                        input(id='nameOfBar' class='user-info' type='text' placeholder='Name of Bar' value=barname name='nameOfBar', required)

                        input(id='address' class='user-info' type='text' placeholder='Address' value=address name='address', required)

                        input(id='updateUserButton' class='user-info-button' type='submit' value='Save Changes')

                    br
