include mixins/hikecard
include mixins/nav

head
    title=title

    link(rel='stylesheet', href='/assets/css/global.css')
    link(rel='stylesheet' href='/assets/css/reset.css')
    link(rel='stylesheet' href='/assets/css/menu.css')
    link(rel='stylesheet' href='/assets/css/nav.css')
    link(rel='stylesheet' href='/assets/css/hikecard.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
    script(src='/assets/scripts/dashboard.js' type='text/javascript')
body
    +navbar()

    div(class='section')
                        form(id='updateInfo' name='info')
                           
                            input(id='email' class='user-info' type='email' placeholder='Email' name='email' value=email disabled, required, pattern='[A-Za-z0-9_]{3,20}' title='Needs to be 3-20 characters and Alphanumeric')

                            input(id='password' class='user-info' type='password' placeholder='Password' value=password name='password',pattern='[A-Za-z0-9_]{3,20}',title='Needs to be 3-20 characters and Alphanumeric')

                            input(id='nameOfBar' class='user-info' type='text' placeholder='Name of Bar' value=barname name='nameOfBar', required, pattern='^[A-z]+$' title='Alphabetic letters only')

                            input(id='Address' class='user-info' type='text' placeholder='Address' value=address name='Address', required, pattern='^[A-z]+$' title='Alphabetic letters only')

                            input(id='updateUserButton' class='user-info-button' type='submit' value='Save Changes')

                        button(id='deleteUser') Delete Account
                        br


